# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

data/
archive/
# Distribution / packaging
build/
dist/
.eggs/
*.egg
*.egg-info/
pip-wheel-metadata/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# pyenv
.python-version

# pipenv
Pipfile.lock

# Unit test / coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
coverage.xml
.coverage
.coverage.*
*.cover
nosetests.xml

# Mypy, Pyre, cache
.mypy_cache/
.pyre/
.cache/

# Jupyter / IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Django / local data
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.*

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace